*.pyc
*.ini
*.cfg

funkload.*
/tags
/solder.egg-info/
/solder.egg-info/paste_deploy_config.ini_tmpl
/.coverage
/bin/
/distribute-*.tar.gz
/include/
/lib/
/test/logs/
/test/*.log
/test/results/
/test/reports/
/test/funkload.xml*
/.sass-cache
/data
/dist
/logs
.hg*
/solder/build
/solder/public/styles
/solder/public/images/icons/source
/vendor/dozer
