[submodule "vendor/beaker_extensions"]
	path = vendor/beaker_extensions
	url = https://github.com/bbangert/beaker_extensions.git
[submodule "vendor/weld"]
	path = vendor/weld
	url = https://github.com/hij1nx/weld.git
[submodule "vendor/requirejs"]
	path = vendor/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "vendor/aristo-jquery-ui-theme"]
	path = vendor/aristo-jquery-ui-theme
	url = https://github.com/taitems/Aristo-jQuery-UI-Theme.git
[submodule "vendor/redisco"]
	path = vendor/redisco
	url = git@github.com:datashaman/redisco.git
[submodule "vendor/welder"]
	path = vendor/welder
	url = ../welder
