<html>
    <head>
        <title>Some Title</title>
    </head>
    <body class="one-col">
        <div id="content">
            <h2>Table Title</h2>
            <table class="index">
                <thead>
                    <tr>
                        <th>Label</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Column</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
