<html>
    <head>
        <link href="/styles/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/styles/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if lt IE 8]>
            <link href="/styles/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <script data-layout="scripts/layout" type="text/javascript" src="/scripts/require-jquery.js"></script>
        <script type="text/javascript" src="/scripts/weld.js"></script>
    </head>
    <body class="bp">
        <div id="root">
              <div id="header">
                  Header
              </div>

              <div id="content">
                  Content
              </div>

              <div id="root_footer"></div>
        </div>
        <div id="footer">
            Footer
        </div>
    </body>
</html>
